body{
    padding-top: 50px;
}

.boxfilm{
    margin-top: 50px;
    border: solid 3px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    height: 300px;
}

#h1{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
}

.bloc-txt > p:first-child{
   font-size: 35px;
   font-weight: bold;
}

.bloc-txt > p:nth-child(2){
    color: rgb(67, 67, 67);
    font-size: 25px;
  
 }

.readmore{
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}
.boxfilm > div{
   margin: 20px;
}

.bloc-img > img{
    max-height: 250px;
}


.plot {
    display: none;
}

#center-block{
    border-radius: 20px;
    border: 3px solid black;
    display: none;
    height: 400px;
    width: 1000px;
    background-color: rgb(181, 223, 253);
    color: white;
    z-index: 999;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 200px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#center-block > div{
    border: 0
}



#container{
    margin-bottom: 70vh;
}

#film-name{
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    margin-bottom: 10px;
}

#cool{
    color: white;
}

#close{
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}